@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Table-div {
  width: 80%;
  margin-left:auto;
  margin-right:auto;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.SearchButton {
  width: 100%;
  background-color: #FFE81F;
  color: black;
  font-size: 1.4em;
  font-family: "Saira Extra Condensed", sans-serif;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.SearchButton:hover {
  background-color: #fff6a8;
}

.rootbox {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.rootbox .title {
  text-align: center;
  font-size: 5em;
  color: black;
  font-family: "Saira Extra Condensed", sans-serif;
  text-shadow: -1px 0 #FFE81F, 0 1px #FFE81F, 1px 0 #FFE81F, 0 -1px #FFE81F;
}


.mainbox {
  border: solid #FFE81F;
}

.searchbar {
  height: 150px;
}

.margin {
  height: 150px;
}

.placeholder {
  text-align: center;
}

.loading {
  text-align: center;
}
